testing/gitlab_testing/
web/.git
web/web_gitlab/

info_sec/labs/lab_*/.idea/
info_sec/labs/lab_*/cmake-build-debug/
info_sec/labs/lab_*/report/svg-inkscape/

model/labs/labs_2024/lab_*/.idea/
model/labs/labs_2025/lab_*/src/__pycache__/
model/labs/labs_2024/lab_*/src/__pycache__/

network/lects/
model/labs/labs_2025/lab_03/data/
